<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.osmeet.os">

    <!-- 允许程序设置内置sd卡的读权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 打开相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许程序访问FINE来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- iBeancon功能所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 自定义权限 自定义权限解释：部分手机型号不能正常运行个推SDK，需添加自定义权限进行配置。-->
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}" />
    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal" />

    <application
        android:name=".app.application.App"
        android:icon="@mipmap/ic_app_os"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup"
        tools:replace="android:icon">
        <provider
            android:name=".assembly.provider.GPFileProvider"
            android:authorities="provider.GPFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <!-- 高德地图开发者申请的key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="5e0bc70116ada6769679b8fc018fd371" />

        <service android:name="com.amap.api.location.APSService" />

        <provider
            android:name=".assembly.provider.RcFileProvider"
            android:authorities="com.osmeet.os.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <service
            android:name=".assembly.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:permission="1"
            android:process=":pushservice" />
        <service android:name=".assembly.service.PushIntentService" />

        <receiver
            android:name=".assembly.receiver.RcPushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.osmeet.os"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.GuideActivity" />
        <activity android:name=".view.activity.AdActivity" />
        <activity android:name=".view.activity.PopInfoActivity" />
        <activity android:name=".view.activity.StoreActivity" />
        <activity android:name=".view.activity.UpdateInfoActivity" />
        <activity android:name=".view.activity.SettingActivity" />
        <activity android:name=".view.activity.CameraActivity" />
        <activity android:name=".view.activity.InviteListActivity" />
        <activity android:name=".view.activity.MatchActivity" />
        <activity android:name=".view.activity.MatchListActivity" />
        <activity android:name=".view.activity.NewFriendsActivity" />
        <activity android:name=".view.activity.TradeActivity" />
        <activity android:name=".view.activity.TradeListActivity" />
        <activity android:name=".view.activity.InviteFriendsActivity" />
        <activity android:name=".view.activity.SearchActivity" />
        <activity android:name=".view.activity.WalletActivity" />
        <activity android:name=".view.activity.GoodsBuyActivity" />
        <activity android:name=".view.activity.GoodsActivity" />
        <activity android:name=".view.activity.MatchBeginActivity" />
        <activity
            android:name=".view.activity.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.osmeet.os"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.ChatInviteActivity" />
        <activity android:name=".view.activity.ScanActivity" />
        <activity android:name=".view.activity.VisitCardActivity" />
        <activity android:name=".view.activity.FriendListActivity" />
        <activity android:name=".view.activity.UserInfo2Activity" />
        <activity
            android:name=".view.activity.ImageLookActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".view.activity.AccountActivity" />
        <activity android:name=".view.activity.ProtocolActivity" />
        <activity android:name=".view.activity.AboutOsActivity" />
        <activity android:name=".view.activity.BlockListActivity" />
        <activity android:name=".view.activity.SingleMapActivity" />
        <activity android:name=".view.activity.PasswordActivity"></activity>
    </application>

</manifest>